In [1]:
import pandas as pd
import pygsheets
from pygsheets.client import Client

In [2]:
BIGQUERY_CREDENTIALS_FILE_PATH = "bigquery-user.json"

In [3]:
def get_google_sheet_client() -> Client:
    """Get Google Sheets client."""
    with open(BIGQUERY_CREDENTIALS_FILE_PATH, "r") as f:
        service_account_json_str = f.read()
    return pygsheets.authorize(
        service_account_json=service_account_json_str,
    )

def get_gsheet_as_df(gsheet_url: str, worksheet_title: str | None = None) -> pd.DataFrame:
    """Return DataFrame from a specified Google Sheets worksheet."""
    gc = get_google_sheet_client()
    sheet = gc.open_by_url(gsheet_url)
    if worksheet_title:
        return sheet.worksheet_by_title(worksheet_title).get_as_df(numerize=False)
    return sheet.sheet1.get_as_df(numerize=False)

In [4]:
gsheets_url = "https://docs.google.com/spreadsheets/d/1Qk9OcSywESJkv4kP2-tR1JAIq3V-PcZUaZgW8KfQrwI"

df = get_gsheet_as_df(gsheets_url, "Sheet1")

df

  TransactionID ProductID Quantity    SaleDate
0           103      2001     1.00  2024-05-06
1           104      2004     4.00  2024-05-07
2           105      2001     3.00  2024-08-06
3           106      2001     2.00  2024-08-07
4           107      2003     3.00  2024-08-09

In [7]:
gsheets_url = "https://docs.google.com/spreadsheets/d/1Qk9OcSywESJkv4kP2-tR1JAIq3V-PcZUaZgW8KfQrwI"
sheet_title = "Sheet2"

gc = get_google_sheet_client()
sheet = gc.open_by_url(gsheets_url)
worksheet = sheet.worksheet_by_title(sheet_title)

worksheet.set_dataframe(
    df=df,
    start=(1, 1),
    copy_head=True,
)

In [8]:
df.loc[0:3]

  TransactionID ProductID Quantity    SaleDate
0           103      2001     1.00  2024-05-06
1           104      2004     4.00  2024-05-07
2           105      2001     3.00  2024-08-06
3           106      2001     2.00  2024-08-07

In [9]:
worksheet.set_dataframe(
    df=df.loc[0:3],
    start=(1, 1),
    copy_head=False,
)