In [1]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'globals()'],
 '_oh': {},
 '_dh': [PosixPath('/Users/uuboy.scy/side-project/tibame/tjr103/data_pipeline')],
 'In': ['', 'globals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10a00c380>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10a3ede80>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10a3ede80>,
 'open': <function _io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '__vsc_ipynb_file__': '/Users/uuboy.scy/side-project/tibame/tjr103/data_pipeline/09_pandasql.ipynb',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'globals()'}

In [2]:
a = 123

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'globals()', 'a = 123', 'globals()'],
 '_oh': {1: {...}},
 '_dh': [PosixPath('/Users/uuboy.scy/side-project/tibame/tjr103/data_pipeline')],
 'In': ['', 'globals()', 'a = 123', 'globals()'],
 'Out': {1: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10a00c380>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10a3ede80>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10a3ede80>,
 'open': <function _io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': {...},
 '__': '',
 '___': '',
 '__vsc_ipynb_file__': '/Users/uuboy.scy/side-project/tibame/tjr103/data_pipeline/09_pandasql.ipynb',
 '_i': 'a = 123',
 '_ii': 'globals()',
 '_iii': '',
 '_i1': 'globals()',
 '_1': {...},
 '_i2': 'a = 123',
 'a': 123,
 '_i3': 'globals()'}

In [4]:
globals()["a"]

123

In [5]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'globals()',
  'a = 123',
  'globals()',
  'globals()["a"]',
  'locals()'],
 '_oh': {1: {...}, 3: {...}, 4: 123},
 '_dh': [PosixPath('/Users/uuboy.scy/side-project/tibame/tjr103/data_pipeline')],
 'In': ['', 'globals()', 'a = 123', 'globals()', 'globals()["a"]', 'locals()'],
 'Out': {1: {...}, 3: {...}, 4: 123},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10a00c380>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10a3ede80>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10a3ede80>,
 'open': <function _io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': 123,
 '__': {...},
 '___': {...},
 '__vsc_ipynb_file__': '/Users/uuboy.scy/side-project/tibame/tjr103/data_pipeline/09_pandasql.ipynb',
 '_i': 'globals()["a"]',
 '_ii': 'globals()',
 '_iii': 'a = 123',
 '_i1': 'globals()',
 '_1': {...},
 '_i2': 'a = 123',
 'a': 123,
 '_i3': 'globals()',
 '_3': {...},
 '_i4': 'globals()["a"]',
 '_4': 123,
 '_i5': 'locals()'}

In [8]:
import pandas as pd
from pandasql import sqldf

columns = ["article", "author", "price"]
data = [
    ["0001", "B", 3.99],
    ["0002", "A", 10.99],
    ["0003", "C", 1.69],
    ["0004", "B", 19.95],
    ["0005", "A", 6.96],
]
prticle_price_df = pd.DataFrame(data=data, columns=columns)
prticle_price_df

  article author  price
0    0001      B   3.99
1    0002      A  10.99
2    0003      C   1.69
3    0004      B  19.95
4    0005      A   6.96

In [9]:
sql = """
with tmp_prticle_price_df as (
    select
        *,
        ROW_NUMBER() OVER (PARTITION BY author ORDER BY price DESC) as ROW_ID
    from prticle_price_df
)
select
    article,
    author,
    price
from tmp_prticle_price_df
where ROW_ID = 1
"""
sqldf(
    sql,
)

  article author  price
0    0002      A  10.99
1    0004      B  19.95
2    0003      C   1.69